.x-form {
  padding: 5px;
}

.x-form-text {
  /*width: 100%;*/
  /*[>同时设了padding和width<]*/
  /*box-sizing: border-box;*/

  /*清除默认*/
  margin: 0;

  vertical-align: middle;
  padding: 1px 3px;
  background: repeat-x 0 0;
  background-color: white;
  background-image: url('../images/form/text-bg.gif');
  border: 1px solid rgb(181, 184, 200);
}
.x-form-text:focus {
  outline: none;
  border-color: rgb(126, 173, 217);
}
.x-form-invalid {
  background-color: white;
  background-image: url('../images/grid/invalid_line.gif');
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: rgb(204, 51, 0);
}

.x-form-trigger {
  display: inline-block;
  width: 17px;
  height: 18px;
  vertical-align: middle;
  background-image: url('../images/form/trigger.gif');
  background-position: 0 0;
  border-bottom: 1px solid rgb(181, 184, 200);
  cursor: pointer;
}
.x-form-trigger:hover {
  background-position: -17px 0;
  border-bottom-color: rgb(126, 173, 217);
}
.x-form-exclamation {
  background-image: url('../images/form/exclamation.gif');
}

.x-form-toolbar {
  text-align: center;
  border-top: 1px solid rgb(181, 184, 200);
  padding: 3px 0 4px;
}
