.x-form-text {
  vertical-align: middle;
  padding: 1px 3px;
  background: repeat-x 0 0;
  background-color: white;
  background-image: url('../images/form/text-bg.gif');
  border: 1px solid rgb(181, 184, 200);
}
