.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-btn {
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
.icon-btn:hover {
  border-color: rgb(129, 164, 208);
  background-color: rgb(219, 238, 255);
}
.icon-btn-is-pressed {
  border-color: rgb(122, 154, 196);
  background-color: rgb(188, 207, 229);
}

/*自定义图标*/
.icon-book-addresses {
  background-image: url('../images/icons/book_addresses.png');
}
.icon-book {
  background-image: url('../images/icons/book.png');
}

.icon-question {
  width: 50px;
  height: 35px;
  background-image: url('../images/shared/icon-question.gif');
}
.icon-info {
  width: 50px;
  height: 35px;
  background-image: url('../images/shared/icon-info.gif');
}

/*tree*/
.icon-tree-folder {
  background-image: url('../images/tree/folder.gif');
}
.icon-tree-folder-open {
  background-image: url('../images/tree/folder-open.gif');
}
.icon-tree-leaf {
  background-image: url('../images/tree/leaf.gif');
}
.icon-tree-elbow,
.icon-tree-elbow-empty,
.icon-tree-elbow-line,
.icon-tree-elbow-minus,
.icon-tree-elbow-minus-nl,
.icon-tree-elbow-plus,
.icon-tree-elbow-plus-nl,
.icon-tree-elbow-end,
.icon-tree-elbow-end-minus,
.icon-tree-elbow-end-minus-nl,
.icon-tree-elbow-end-plus,
.icon-tree-elbow-end-plus-nl {
  height: 20px;
  width: 16px;
}
.icon-tree-elbow{
  background-image: url('../images/tree/elbow.gif');
}
.icon-tree-elbow-line {
  background-image: url('../images/tree/elbow-line.gif');
}
.icon-tree-elbow-minus {
  background-image: url('../images/tree/elbow-minus.gif');
}
.icon-tree-elbow-minus-nl {
  background-image: url('../images/tree/elbow-minus-nl.gif');
}
.icon-tree-elbow-plus {
  background-image: url('../images/tree/elbow-plus.gif');
}
.icon-tree-elbow-plus-nl {
  background-image: url('../images/tree/elbow-plus-nl.gif');
}
.icon-tree-elbow-end {
  background-image: url('../images/tree/elbow-end.gif');
}
.icon-tree-elbow-end-minus {
  background-image: url('../images/tree/elbow-end-minus.gif');
}
.icon-tree-elbow-end-minus-nl {
  background-image: url('../images/tree/elbow-end-minus-nl.gif');
}
.icon-tree-elbow-end-plus {
  background-image: url('../images/tree/elbow-end-plus.gif');
}
.icon-tree-elbow-end-plus-nl {
  background-image: url('../images/tree/elbow-end-plus-nl.gif');
}

/*grid*/
.icon-grid-page-next {
  background-image: url('../images/grid/page-next.gif');
}
.icon-grid-page-next-disabled {
  background-image: url('../images/grid/page-next-disabled.gif');
}
.icon-grid-page-prev {
  background-image: url('../images/grid/page-prev.gif');
}
.icon-grid-page-prev-disabled {
  background-image: url('../images/grid/page-prev-disabled.gif');
}
.icon-grid-refresh {
  background-image: url('../images/grid/refresh.gif');
}
.icon-grid-refresh-disabled {
  background-image: url('../images/grid/refresh-disabled.gif');
}
.icon-grid-page-first {
  background-image: url('../images/grid/page-first.gif');
}
.icon-grid-page-first-disabled {
  background-image: url('../images/grid/page-first-disabled.gif');
}
.icon-grid-page-last {
  background-image: url('../images/grid/page-last.gif');
}
.icon-grid-page-last-disabled {
  background-image: url('../images/grid/page-last-disabled.gif');
}

/*tool*/
.icon-tool {
  width: 15px;
  height: 15px;

  float: right;
  cursor: pointer;
  background-image: url('../images/tools/tool-sprites.gif');
}
.icon-tool-collapse-left {
  background-position: 0 -180px;
}
.icon-tool-collapse-left:hover {
  background-position: -15px -180px;
}
.icon-tool-collapse-top {
  background-position: 0 -255px;
}
.icon-tool-collapse-top:hover {
  background-position: -15px -255px;
}
.icon-tool-expand-bottom {
  background-position: 0 -240px;
}
.icon-tool-expand-bottom:hover {
  background-position: -15px -240px;
}
.icon-tool-close {
  background-position: 0 0;
}
.icon-tool-close:hover {
  background-position: -15px 0;
}
