.panel {
  border: 1px solid rgb(153, 188, 232);
  position: relative;
}
.panel-header {
  border-bottom: 1px solid rgb(153, 188, 232);

  background-color: rgb(203, 221, 243);
  background-image: -webkit-linear-gradient(top,rgb(218, 231, 246),rgb(205, 222, 243) 45%,rgb(171, 199, 236) 46%,rgb(171, 199, 236) 50%,rgb(184, 207, 238) 51%,rgb(203, 221, 243));
  box-shadow: rgb(244, 248, 253) 0 1px 0 0 inset;

  padding: 3px 5px 4px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.panel-header-span {
  color: rgb(4, 64, 140);
  font-weight: bold;
}
.panel-body {
}

/*frame*/
.panel-frame {
  -webkit-border-radius: 4px;
  background-color: rgb(223, 233, 246);
}
.panel-frame-header {
  -webkit-border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*accordion*/
.panel-accordion {
  border-width: 0;
}
.panel-accordion-header {
  background-image: none;
  background: rgb(217, 231, 248);
}
