.x-tab-bar {
  /*比原始值大一点，盖住strip*/
  height:23px;

  /*清除ul默认样式*/
  list-style: none;
  margin: 0;
  padding: 0;
}

.x-tab-item {
  float: left;
  padding: 3px 9px;
  margin-right: 3px;
  cursor: pointer;

  font-weight: bold;
  color: rgb(65, 109, 163);

  background-color: rgb(222, 236, 253);
  background-image: -webkit-linear-gradient(top,rgb(204, 222, 246),rgb(214, 230, 250) 25%,rgb(222, 236, 253) 45%);
  border-bottom-color: rgb(153, 188, 232);
  -webkit-box-shadow: white 0 1px 0 0 inset,white -1px 0 0 0 inset,white 1px 0 0 0 inset;

  border: 1px solid rgb(141, 179, 227);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.x-tab-item:first-child {
  margin-left: 3px;
}
.x-tab-item-active {
  background-image: -webkit-linear-gradient(top,white,rgb(245, 249, 254) 25%,rgb(222, 236, 253) 45%);
  border-bottom-color: rgb(222, 236, 253);
  color: rgb(21, 73, 139);
}

.x-tab-strip {
  height: 3px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: rgb(153, 188, 232);
  background-color: rgb(222, 236, 253);
}
