.grid {
  width: 100%;
}
/* 另外还有grid-with-row-lines*/

/*header*/
.grid-header {
  .gradient(rgb(249, 249, 249),rgb(227, 228, 230));
}
.grid-header-cell {
  border-bottom: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
  padding: 3px 6px 4px;
}
.grid-header-is-desc span{
  padding-right: 16px;
  background: no-repeat right 6px;
  background-image: url('../images/grid/sort_desc.gif');
}
.grid-header-is-asc span{
  padding-right: 16px;
  background: no-repeat right 6px;
  background-image: url('../images/grid/sort_asc.gif');
}

/*row*/
.grid-row {
  background-color: white;
}
.grid-row-alt {
  background-color: rgb(250, 250, 250);
}
.grid-cell {
  border: 0 solid rgb(237, 237, 237);
  border-top-color: rgb(250, 250, 250);
}
.grid-row:hover .grid-cell {
  font-weight: bold;
  border-color: rgb(221, 221, 221);
  background-color: rgb(239, 239, 239);
}
.grid-row-is-selected .grid-cell {
  border-style: dotted;
  border-color: rgb(163, 186, 233);
  background-color: rgb(223, 232, 246);
}
.grid-with-row-lines .grid-cell{
  border-width: 1px 0;
}

/*footer*/
.grid-footer {
  .gradient(rgb(223, 233, 245),rgb(211, 225, 241));
  border-top: 1px solid rgb(153, 188, 232);
  padding: 4px 0 5px 5px;
}

/*TODO:放到toolbar*/
.grid-footer-text {
  vertical-align: middle;
  color: rgb(76, 76, 76);
}

.grid-separator {
  vertical-align: middle;
  border-left: 1px solid rgb(152, 200, 255);
  border-right: 1px solid white;
}

/*继承于grid*/
.tree .grid-row:hover .grid-cell{
  font-weight: normal;
  cursor: pointer;
}
