.header {
  .gradient(rgba(134, 174, 204, 1) 0%,rgba(212, 228, 239, 1) 100%);
  padding-left: 30px;
}
.header span {
  line-height: 50px;
  font-size: 24px;
}
.footer {
  padding-left: 20px;
}
.footer span{
  line-height: 30px;
}

.splitter {
  width: 5px;
  cursor: col-resize;
  position: relative;
}
.splitter-mini-left {
  background: no-repeat top right;
  background-image: url('../images/util/splitter/mini-left.gif');
  cursor: pointer;
  width: 5px;
  height: 35px;
  top: 50%;
  margin-top: -17px;
  display:inline-block;
  position: absolute;
}
