.toolbar-ft {
  .gradient(rgb(223, 233, 245),rgb(211, 225, 241));
  border-top: 1px solid rgb(153, 188, 232);
  padding: 4px 0 5px 5px;
}

.toolbar-text {
  vertical-align: middle;
  color: rgb(76, 76, 76);
}

.toolbar-separator {
  vertical-align: middle;
  border-left: 1px solid rgb(152, 200, 255);
  border-right: 1px solid white;
}
